/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navigation-list a,
.section-link {
  font-size: 20px;
}

.navigation-list a:hover,
.section-link:hover {
  text-decoration: underline;
}
